@charset "UTF-8";
html, body {
  height: 100%;
  font-family: Helvetica Neue,Tahoma,Arial,PingFangSC-Regular,Hiragino Sans GB,Microsoft Yahei,sans-serif; }

.section {
  height: 100%;
  display: none; }

#home {
  background-color: #f5f5f5; }

#foods {
  /* 商家简介 */
  /* 商品列表 */ }
  #foods .head {
    background-color: #666666; }
    #foods .head .head-main {
      display: flex;
      height: 4.16rem;
      padding-top: 0.256rem; }
      #foods .head .head-main .logo img {
        width: 2.98667rem;
        height: 2.98667rem;
        border: 1px solid #fff;
        margin: 0 0.42667rem 0 0.74667rem; }
      #foods .head .head-main .desc {
        flex: 1;
        height: 100%; }
  #foods .main .nav {
    display: flex;
    border-bottom: 1px solid #e5e5e5; }
    #foods .main .nav li {
      flex: 1;
      text-align: center;
      height: 1.94133rem;
      font-size: 0.59733rem; }
      #foods .main .nav li span {
        font-family: "Microsoft Yahei";
        font-weight: 600;
        display: inline-block;
        margin-top: 0.34133rem;
        padding-bottom: 0.128rem;
        padding: 0.128rem 0.064rem; }
      #foods .main .nav li.active span {
        color: #3190e8;
        border-bottom: 0.08533rem solid #3190e8; }
  #foods .main .details {
    display: flex; }
    #foods .main .details .menu {
      flex: 1;
      background-color: #f5f5f5; }
      #foods .main .details .menu li {
        display: block;
        height: 2.176rem;
        line-height: 2.176rem;
        text-align: center;
        font-size: 0.59733rem;
        border-bottom: 1px solid #e5e5e5; }
        #foods .main .details .menu li.active {
          border-left: 0.128rem solid #3190e8;
          background-color: #fff; }
    #foods .main .details .container {
      flex: 3; }
      #foods .main .details .container dl {
        font-size: 0.59733rem; }
        #foods .main .details .container dl dt {
          height: 1.344rem;
          padding: 0 0.34133rem;
          line-height: 1.344rem;
          background-color: #e5e5e5; }
        #foods .main .details .container dl dd {
          display: flex;
          box-sizing: border-box;
          height: 5.95093rem;
          padding: 0.64rem 0.42667rem; }
          #foods .main .details .container dl dd .food-img {
            flex: 2;
            display: block;
            margin-right: 4%; }
          #foods .main .details .container dl dd .food-info {
            position: relative;
            flex: 8; }
            #foods .main .details .container dl dd .food-info .food-tit {
              font-size: 0.704rem;
              font-weight: 700; }
            #foods .main .details .container dl dd .food-info .food-price {
              position: absolute;
              bottom: 0;
              color: #f60;
              font-size: 0.68267rem; }

#citylist li {
  overflow: hidden; }
#citylist #hotcity {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e0e0e0; }
  #citylist #hotcity li {
    width: 25%;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0; }
#citylist .al-list {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e0e0e0; }
  #citylist .al-list li {
    width: 20%;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0; }
#citylist .city-list {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e0e0e0; }
  #citylist .city-list li {
    width: 25%;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0; }

#form #content {
  width: 100%; }
  #form #content li {
    width: 100%;
    overflow: hidden;
    height: 1rem; }

/*# sourceMappingURL=index.css.map */
